# This file is part of vermillion.

# Vermillion is free software: you can redistribute it and/or modify it
# under the terms of the GNU General Public License as published
# by the Free Software Foundation, version 3.

# Vermillion is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# See the GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with vermillion. If not, see <https://www.gnu.org/licenses/>.

# Architecture configuration

menu "Architecture"
config ARM_CPU
    string "Target CPU"
    default cortex-a7
config STACK_SIZE
    hex "Kernel stack size"
    default 0x8000

menu "General purpose RAM"
config RAM_ADDRESS
    hex "Mapped address"
    default 0x40000000
config RAM_SIZE
    hex "Full length"
    default 0x20000000
endmenu

menu "Generic Interrupt Controller"
config GIC_CPU
    hex "CPU address"
    default 0x01C82000
config GIC_DIST
    hex "DIST address"
    default 0x01C81000
choice GIC_TYPE
    prompt "Interrupt Type"
    default GIC_TYPE_2
config GIC_TYPE_0
    bool "Low level"
config GIC_TYPE_1
    bool "High level"
config GIC_TYPE_2
    bool "Low edge"
config GIC_TYPE_3
    bool "High edge"
endchoice
endmenu

endmenu

# Runtime configuration

menu "Runtime"

choice LOADER_DEVICE
    prompt "Format"
config LOADER_FDPIC
    bool "FDPIC ELF"
endchoice

endmenu

# Video configuration

config VIDEO
    bool
    default y
menuconfig VIDEO
    prompt "Video Output"

choice VIDEO_DEVICE
    prompt "Device"
    depends on VIDEO
config VIDEO_ILI9488_SPI
    bool "Ili9488 (SPI)"
    depends on SPI
endchoice

menu "Ili9488 (SPI)"
    depends on VIDEO && VIDEO_ILI9488_SPI
config ILI9488_DCRS
    string "DCRS pin"
    default PA12
config ILI9488_LEDS
    string "LEDS pin"
    default PA11
endmenu


# Audio configuration

config AUDIO
    bool
    default y
menuconfig AUDIO
    prompt "Audio Output"

choice AUDIO_DEVICE
    prompt "Device"
    depends on AUDIO
config AUDIO_BUZZER
    bool "Buzzer"
endchoice

menu "Buzzer"
    depends on AUDIO && AUDIO_BUZZER
config BUZZER_PIN
    string "Output pin"
    default PA13
endmenu

# Storage configuration

config STORAGE
    bool
    default y
menuconfig STORAGE
    prompt "Storage"

choice STORAGE_DEVICE
    prompt "Device"
    depends on STORAGE
config STORAGE_FAT32_MBR_SD0
    bool "SD Card 0 (MBR/Fat32)"
endchoice

# Serial configuration

config SERIAL
    bool
    default y
menuconfig SERIAL
    prompt "Serial"

choice SERIAL_DEVICE
    prompt "Device"
    depends on SERIAL
config SERIAL_SUNXI_UART
    bool "Sunxi UART"
endchoice

# Timer configuration

config TIMER
    bool
    default y
menuconfig TIMER
    prompt "Timer"

choice TIMER_DEVICE
    prompt "Device"
    depends on TIMER
config TIMER_SUNXI_TIMER
    bool "Sunxi Timer"
endchoice

menu "Sunxi Timer"
    depends on TIMER && TIMER_SUNXI_TIMER
config SUNXI_TIMER_IRQ
    int "Timer0 IRQ"
    default 50
endmenu

# SPI configuration

config SPI
    bool
    default y
menuconfig SPI
    prompt "SPI"

choice SPI_DEVICE
    prompt "Device"
    depends on SPI
config SPI_BITBANG
    bool "Bitbang"
endchoice

menu "Bitbang"
    depends on SPI && SPI_BITBANG
config BITBANG_SPI_SS
    string "SS pin"
    default PA0
config BITBANG_SPI_SCK
    string "SCK pin"
    default PA1
config BITBANG_SPI_MOSI
    string "MOSI pin"
    default PA2
config BITBANG_SPI_MISO
    string "MISO pin"
    default PA3
endmenu
