# This file is part of vermillion.

# Vermillion is free software: you can redistribute it and/or modify it
# under the terms of the GNU General Public License as published
# by the Free Software Foundation, version 3.

# Vermillion is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# See the GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with vermillion. If not, see <https://www.gnu.org/licenses/>.

# Architecture configuration

menu "Architecture"
config ARM_CPU
    string "Target CPU"
    default cortex-a7
config STACK_SIZE
    hex "Kernel stack size"
    default 0x8000

menu "General purpose RAM"
config RAM_ADDRESS
    hex "Mapped address"
    default 0x40000000
config RAM_SIZE
    hex "Full length"
    default 0x20000000
endmenu

config ARCH_GIC
    bool
    default y
menuconfig ARCH_GIC
    prompt "Generic Interrupt Controller"
config GIC_CPU
    hex "CPU address"
    default 0x01C82000
    depends on ARCH_GIC
config GIC_DIST
    hex "DIST address"
    default 0x01C81000
    depends on ARCH_GIC
choice GIC_TYPE
    prompt "Interrupt Type"
    default GIC_TYPE_2
    depends on ARCH_GIC
config GIC_TYPE_0
    bool "Low level"
config GIC_TYPE_1
    bool "High level"
config GIC_TYPE_2
    bool "Low edge"
config GIC_TYPE_3
    bool "High edge"
endchoice

endmenu

# Video configuration

config VIDEO
    bool
    default y
menuconfig VIDEO
    prompt "Video Output"

config VIDEO_ILI9488_SPI
    bool
    depends on VIDEO && SPI
menuconfig VIDEO_ILI9488_SPI
    prompt "Ili9488 (SPI)"
    depends on VIDEO
config ILI9488_DCRS
    string "DCRS pin"
    default PA12
    depends on VIDEO_ILI9488_SPI
config ILI9488_LEDS
    string "LEDS pin"
    default PA11
    depends on VIDEO_ILI9488_SPI

# Audio configuration

config AUDIO
    bool
    default y
menuconfig AUDIO
    prompt "Audio Output"

config AUDIO_BUZZER
    bool
    depends on AUDIO
menuconfig AUDIO_BUZZER
    prompt "Buzzer"
    depends on AUDIO
config BUZZER_PIN
    string "Output pin"
    default PA13
    depends on AUDIO_BUZZER

# Storage configuration

config STORAGE
    bool
    default y
menuconfig STORAGE
    prompt "Storage"

config STORAGE_SUNXI_MMC
    bool "Sunxi SD/MMC"
    depends on STORAGE

# Filesystem configuration

config FS
    bool
    default y
menuconfig FS
    prompt "Filesystem"

config FS_FAT32_MBR
    bool "Fat32 MBR"
    depends on FS

# Loader configuration

config LOADER
    bool
    default y
menuconfig LOADER
    prompt "Loader"

config LOADER_FDPIC
    bool "FDPIC ELF"
    depends on LOADER

# Serial configuration

config SERIAL
    bool
    default y
menuconfig SERIAL
    prompt "Serial"

config SERIAL_SUNXI_UART
    bool "Sunxi UART"
    depends on SERIAL

# Timer configuration

config TIMER
    bool
    default y
menuconfig TIMER
    prompt "Timer"

config TIMER_SUNXI_TIMER
    bool
    depends on TIMER
menuconfig TIMER_SUNXI_TIMER
    prompt "Sunxi Timer"
    depends on TIMER
config SUNXI_TIMER_IRQ
    int "Timer0 IRQ"
    default 50
    depends on TIMER_SUNXI_TIMER

# SPI configuration

config SPI
    bool
    default y
menuconfig SPI
    prompt "SPI"

config SPI_BITBANG
    bool
    depends on SPI
menuconfig SPI_BITBANG
    prompt "Bitbang"
    depends on SPI
config BITBANG_SPI_SS
    string "SS pin"
    default PA0
    depends on SPI_BITBANG
config BITBANG_SPI_SCK
    string "SCK pin"
    default PA1
    depends on SPI_BITBANG
config BITBANG_SPI_MOSI
    string "MOSI pin"
    default PA2
    depends on SPI_BITBANG
config BITBANG_SPI_MISO
    string "MISO pin"
    default PA3
    depends on SPI_BITBANG
