# This file is part of vermillion.

# Vermillion is free software: you can redistribute it and/or modify it
# under the terms of the GNU General Public License as published
# by the Free Software Foundation, version 3.

# Vermillion is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# See the GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with vermillion. If not, see <https://www.gnu.org/licenses/>.

config DISK_SIZE
    int "Disk size"
    default 2
    depends on ARCH_ARM
config UBOOT_CONFIG
    string "U-boot defconfig"
    default orangepi_one_defconfig
    depends on ARCH_ARM
config UBOOT_IMAGE
    string "U-boot image path"
    default u-boot-sunxi-with-spl.bin
    depends on ARCH_ARM
config QEMU_MACHINE
    string "QEMU machine"
    default orangepi-pc
    depends on ARCH_ARM
