# This file is part of vermillion.

# Vermillion is free software: you can redistribute it and/or modify it
# under the terms of the GNU General Public License as published
# by the Free Software Foundation, version 3.

# Vermillion is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# See the GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with vermillion. If not, see <https://www.gnu.org/licenses/>.

# Architecture configuration

menu "General setup"

choice ARCH
    prompt "Architecture"
config ARCH_ARM
    bool "ARM"
config ARCH_I686
    bool "i686"
endchoice

menu "Architecture options"
source arch/arm/Kconfig
source arch/i686/Kconfig
endmenu

menu "Compilation"
config ARCH
    string "Arch name"
    default arm  if ARCH_ARM
    default i686 if ARCH_I686
config TARGET
    string "Target triple"
    default arm-none-eabi if ARCH_ARM
    default i686-elf      if ARCH_I686
config CFLAGS_ARCH
    string "Additional Arch CFLAGS"
    default "-fpic -Wl,--no-warn-rwx-segment" if ARCH_ARM
config CFLAGS_BOARD
    string "Additional Board CFLAGS"
config DEVICE_TREE
    string "Board device tree"
endmenu

menu "General purpose RAM"
config RAM_ADDRESS
    hex "Mapped address"
    default 0x100000   if ARCH_I686
config RAM_SIZE
    hex "Full length"
config STACK_SIZE
    hex "Kernel stack size"
    default 0x8000
endmenu

endmenu

# Driver configuration

menu "Device drivers"

# Video configuration

menu "Video Output"
config VIDEO_ILI9488
    bool "Ili9488"
config VIDEO_VIRTUAL
    bool "Virtual Framebuffer"
endmenu

# Audio configuration

menu "Audio Output"
config AUDIO_BUZZER
    bool "Buzzer"
endmenu

# Storage configuration

menu "Storage"
config STORAGE_MEMORY
    bool "Memory device"
config STORAGE_SUNXI_MMC
    bool "Sunxi SD/MMC"
    default y if ARCH_ARM_SUNXI
    depends on ARCH_ARM
endmenu

# Filesystem configuration

menu "Filesystem"
config FS_FAT32_MBR
    bool "Fat32 MBR"
endmenu

# Serial configuration

menu "Serial"
config SERIAL_SUNXI_UART
    bool "Sunxi UART"
    default y if ARCH_ARM_SUNXI
    depends on ARCH_ARM
config SERIAL_I686
    bool "x86 serial ports"
    default y if ARCH_I686
    depends on ARCH_I686
endmenu

# Timer configuration

menu "Timer"
config TIMER_SUNXI_TIMER
    bool "Sunxi Timer"
    default y if ARCH_ARM_SUNXI
    depends on ARCH_ARM
config TIMER_I686_TIMER
    bool "8254 Intel Timer"
    default y if ARCH_I686
    depends on ARCH_I686
endmenu

# Protocols configuration

menu "Protocols"
config PROTOCOL_SPI
    bool "Software SPI"
config PROTOCOL_SIPO
    bool "Serial-in Parallel-out"
endmenu

# GPIO configuration

menu "GPIO"
config GPIO_SUNXI_GPIO
    bool "Sunxi GPIO"
    default y if ARCH_ARM_SUNXI
    depends on ARCH_ARM
endmenu

endmenu
