# This file is part of vermillion.

# Vermillion is free software: you can redistribute it and/or modify it
# under the terms of the GNU General Public License as published
# by the Free Software Foundation, version 3.

# Vermillion is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# See the GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with vermillion. If not, see <https://www.gnu.org/licenses/>.

choice ARM_SUBARCH
    prompt "ARM architecture"
    depends on ARCH_ARM
config ARCH_ARM_GENERIC
    bool "Generic"
config ARCH_ARM_SUNXI
    bool "Sunxi"
endchoice

config ARM_GIC
    bool "GIC driver"

config DISK_SIZE
    int "Disk size"
    depends on ARCH_ARM
config UBOOT_CONFIG
    string "U-boot defconfig"
    depends on ARCH_ARM
config UBOOT_IMAGE
    string "U-boot image path"
    depends on ARCH_ARM
config QEMU_MACHINE
    string "QEMU machine"
    depends on ARCH_ARM
