# This file is part of vermillion.

# Vermillion is free software: you can redistribute it and/or modify it
# under the terms of the GNU General Public License as published
# by the Free Software Foundation, version 3.

# Vermillion is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# See the GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with vermillion. If not, see <https://www.gnu.org/licenses/>.

CONFIG_ARCH_ARM=y
CONFIG_ARCH_ARM_SUNXI=y
CONFIG_ARM_GIC=y

CONFIG_UBOOT_CONFIG="orangepi_one_defconfig"
CONFIG_UBOOT_IMAGE="u-boot-sunxi-with-spl.bin"
CONFIG_QEMU_MACHINE="orangepi-pc"

CONFIG_CFLAGS_BOARD="-mcpu=cortex-a7 -mfloat-abi=soft"
CONFIG_DEVICE_TREE="devtree/sunxi_h3.c"
CONFIG_SUNXI_BOARD="ORANGEPI_ONE"

CONFIG_RAM_ADDRESS=0x40000000
CONFIG_RAM_SIZE=0x20000000

CONFIG_FS_MBR=y
CONFIG_FS_FAT32=y

CONFIG_SPI_SUNXI_SPI=y
